
# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
remote_user = root
host_key_checking = False
roles_path = ./roles

library = ./library/
filter_plugins = ./plugins/filter_plugins/

#module_utils   = /usr/share/my_module_utils/
#remote_tmp     = ~/.ansible/tmp
#local_tmp      = ~/.ansible/tmp
#plugin_filters_cfg = /etc/ansible/plugin_filters.yml
#forks          = 5
#poll_interval  = 15
#sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
#transport      = smart
#remote_port    = 22
#module_lang    = C
#module_set_locale = False

# VMs may not be create yet so make fact gathering explicit
gathering = explicit

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'yaml', 'ini'

#enable_plugins = host_list, script, yaml


# retry files
# When a playbook fails by default a .retry file will be created in ~/
# You can disable this feature by setting retry_files_enabled to False
# and you can change the location of the files by setting retry_files_save_path

# Don't bother with retry files
retry_files_enabled = False
#retry_files_save_path = ./retry
