#jinja2: lstrip_blocks: "True"
---
# Create an OSEv3 group that contains the master, nodes, etcd, and lb groups.
# The lb group lets Ansible configure HAProxy as the load balancing solution.
# Comment lb out if your load balancer is pre-configured.

# Go here for Ansible Inventory docs
# http://docs.ansible.com/ansible/latest/intro_inventory.html

# Go here to read about ansible.cfg config for the inventory
# https://github.com/openshift/openshift-ansible/tree/master/inventory

# Go here to read about how to configure indentation for Jinja2
# https://ansiblemaster.wordpress.com/2016/07/29/jinja2-lstrip_blocks-to-manage-indentation/

# Create an OSEv3 group that contains the masters and nodes groups
all:
    hosts:
    {% for host in host_groups['cluster'] %}
        {{ host }}
    {% endfor %}
    children:
        {% for grp in host_groups.keys()%}
        {{ grp }}:
            hosts:
            {% for host in host_groups[grp] %}
                {{ host }}:
            {% endfor %}
        {% endfor %}
    vars:
        OSEv3:
            ansible_ssh_user: "root"
            product_type: "openshift"
            deployment_type: "openshift-enterprise"
            openshift_master_default_subdomain: "{{ subdomain }}"
            openshift_rolling_restart_mode: "system"
            openshift_release: "v3.5"
            # Authentication: default to htpasswd for local test cluster
            openshift_master_identity_providers:
                - name: "htpasswd_auth"
                  login: "true"
                  challenge: "true"
                  kind: "HTPasswdPasswordIdentityProvider"
                  filename: "/etc/origin/master/htpasswd"
            # Default Scheduler: predicates
            openshift_master_scheduler_predicates:
                - name: "GeneralPredicates"
                - name: "NoDiskConflict"
                - name: "CheckNodeMemoryPressure"
                - name: "CheckNodeDiskPressure"
                - name: "Region"
                  argument:
                    serviceAffinity:
                      labels:
                        - "region"
            # Default Scheduler: priority functions
            openshift_master_scheduler_priorities:
                - name: "LeastRequestedPriority"
                  weight: 1
                - name: "ServiceSpreadingPriority"
                  weight: 1
                - name: "BalancedResourceAllocation"
                  weight: 1
