<network>
    <name>{{ network.name }}</name>
    <forward mode='{{ network.mode }}'/>
    <domain name='{{ domain }}'/>
    <dns>
        <forwarder addr="8.8.8.8"/>
        <forwarder addr="8.8.4.4"/>
        {% for instance in nodes.instances %}
        <host ip='{{ instance.nics[0].ipv4 }}'>
            <hostname>{{ instance.name }}</hostname>
        </host>
        {% endfor %}
    </dns>
    <ip address='{{ network.gateway }}' netmask='{{ network.netmask }}'>
        <dhcp>
            <range start='{{ network.dhcp.range.start }}' end='{{ network.dhcp.range.end }}'/>
        </dhcp>
    </ip>
</network>
