#!/bin/bash

sed -i -E 's/#?PubkeyAuthentication\s+(yes|no)/PubkeyAuthentication yes/g' /etc/ssh/sshd_config
sed -i -E 's/#PasswordAuthentication\s+yes/PasswordAuthentication yes/g' /etc/ssh/sshd_config
sed -i -E 's/^PasswordAuthentication\s+no/#PasswordAuthentication no/g' /etc/ssh/sshd_config
restorecon -F /root/.ssh /root/.ssh/authorized_keys
localectl set-x11-keymap {{ keymap }}
systemctl restart systemd-hostnamed
hostnamectl set-hostname {{ instance.name }}
# This bug will prevent you from configuring hostnames via hostnamectl
# https://bugzilla.redhat.com/show_bug.cgi?id=1049656
setenforce 0
sed -i --follow-symlinks 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/sysconfig/selinux
reboot
