# http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html

port=53

# This tells dnsmasq to never pass short names to the upstream DNS servers.
# If the name is not in the local /etc/hosts file then “not found” will be returned.
domain-needed

bogus-priv
strict-order

# Do not read resolv.conf to find the servers where to lookup dns.
no-resolv

# Do not poll resolv.conf for changes
no-poll

interface=eth0
cache-size=150

# use there servers when addresses are not local
server=8.8.8.8

# Our local domain, queries in these domains are answered
# from /etc/hosts or the static-hosts files.
local=/{{ domain }}/master.ocp.cluster

# This is your local domain name. It will tell the DHCP server which host to
# give out IP addresses for.
domain={{ domain }}

# So we can see our local hosts via our home domain without having to repeatedly specify the domain in our /etc/hosts file
expand-hosts

# This options stops dnsmasq using the local /etc/hosts file as a source for lookups.
no-hosts

#Force dnsmasq to use this file for lookups. It is in the same format as /etc/hosts.
addn-hosts=/etc/dnsmasq_static_hosts.conf

log-queries
