
# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
inventory = ./hosts.yml
remote_user = root
host_key_checking = False
roles_path = ../../roles

# plays will gather facts by default, which contain information about
# the remote system.
#
# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True

# VMs may not be create yet so make fact gathering explicit
gathering = explicit

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'yaml', 'ini'

#enable_plugins = host_list, script, yaml


# retry files
# When a playbook fails by default a .retry file will be created in ~/
# You can disable this feature by setting retry_files_enabled to False
# and you can change the location of the files by setting retry_files_save_path

# Don't bother with retry files
retry_files_enabled = False
#retry_files_save_path = ~/.ansible-retry
